##  Importación de librerías

In [1]:
from excel_pandas.libro import LibroPandas
from excel_pandas.hoja import HojaPandas
import pandas as pd

# Cargar un Excel con múltiples Hojas

In [ ]:
print("\n Ejemplo 1: Cargar Excel completo")
libro_excel = LibroPandas.desde_excel("data/datos_acciones.xlsx")
print(libro_excel)

# Mostrar una hoja específica para su edición
# obtener_hoja() te devuelve una referencia al objeto original en self.hojas.
print(libro_excel.obtener_hoja("V"))

# Mostrar resumen de todas las hojas
for nombre, hoja in libro_excel.hojas.items():
    print(f" Hoja: {nombre} — {len(hoja)} filas")

 Ejemplo 1: Cargar Excel completo
 Libro: datos_acciones, hojas: ['AAPL', 'GOOG', 'MSFT', 'AMZN', 'TSLA', 'NFLX', 'META', 'NVDA', 'JPM', 'V']
 Hoja: 'V'
          Fecha      V.Open      V.High       V.Low     V.Close  V.Volume  \
0    2020-03-09  171.210007  179.570007  168.309998  171.130005  20486400
1    2020-03-10  179.470001  182.610001  171.880005  182.600006  16119400
2    2020-03-11  177.649994  178.729996  170.199997  172.949997  14598200
3    2020-03-12  158.500000  172.000000  156.990005  160.080002  27467700
4    2020-03-13  168.720001  176.320007  162.210007  175.830002  19948900
...         ...         ...         ...         ...         ...       ...
1252 2025-03-03  363.000000  366.540009  359.540009  361.820007   9099600
1253 2025-03-04  360.109985  360.269989  350.399994  352.230011   8955800
1254 2025-03-05  350.829987  354.109985  348.940002  352.679993   8244200
1255 2025-03-06  345.959991  348.869995  340.390015  344.160004   8611100
1256 2025-03-07  340.869995  346.390015  339.140015  345.320007   6358700

      V.Adjusted
0     165.152435
1     176.221786
2     166.908813
3     154.488403
4     169.688278
...          ...
1252  361.820007
1253  352.230011
1254  352.679993
1255  344.160004
1256  345.320007

[1257 rows x 7 columns]
 Hoja: AAPL — 1257 filas
 Hoja: GOOG — 1257 filas
 Hoja: MSFT — 1257 filas
 Hoja: AMZN — 1257 filas
 Hoja: TSLA — 1257 filas
 Hoja: NFLX — 1257 filas
 Hoja: META — 1257 filas
 Hoja: NVDA — 1257 filas
 Hoja: JPM — 1257 filas
 Hoja: V — 1257 filas

# Cargar solo ciertas hojas

In [3]:
print("\n Ejemplo 2: Solo algunas hojas del Excel")
libro_rango = LibroPandas.desde_excel(
    "data/datos_acciones.xlsx",
    hojas="1,3-4"
)
print(libro_rango)

# Mostrar resumen de las hojas seleccionadas
for nombre, hoja in libro_rango.hojas.items():
    print(f" Hoja: {nombre} — {len(hoja)} filas")

 Ejemplo 2: Solo algunas hojas del Excel
 Libro: datos_acciones, hojas: ['AAPL', 'MSFT', 'AMZN']
 Hoja: AAPL — 1257 filas
 Hoja: MSFT — 1257 filas
 Hoja: AMZN — 1257 filas

# Crear libro desde cero e importar CSV / Excel

In [4]:
print("\n Ejemplo 3: Libro creado desde cero con archivos CSV y Excel")

libro_csv = LibroPandas("DatosImportados")

# Agregar hojas desde archivos CSV individuales
libro_csv.agregar_hoja_desde_archivo("data/insurance_claims.csv", sep=",")
libro_csv.agregar_hoja_desde_archivo("data/oral_cancer_prediction_dataset.csv", sep=",")
libro_csv.agregar_hoja_desde_archivo("data/education_career_success.csv", sep=",")

# Agregar todas las hojas de un Excel (como archivo fuente adicional)
libro_csv.agregar_hoja_desde_archivo("data/datos_acciones.xlsx")

# Agregar solo hoja 2 con nombre personalizado
libro_csv.agregar_hoja_desde_archivo(
    "data/datos_acciones.xlsx",
    hojas="2",
)

# Agregar solo hojas 1 y 4 del mismo archivo
libro_csv.agregar_hoja_desde_archivo(
    "data/datos_acciones.xlsx",
    hojas="1,2"
)

# Mostrar resumen de todas las hojas importadas
print("\n Resumen final del libro")
for nombre, hoja in libro_csv.hojas.items():
    print(f" Hoja: {nombre} — {len(hoja)} filas")

 Ejemplo 3: Libro creado desde cero con archivos CSV y Excel

 Resumen final del libro
 Hoja: insurance_claims — 1000 filas
 Hoja: oral_cancer_prediction_dataset — 84922 filas
 Hoja: education_career_success — 5000 filas
 Hoja: AAPL — 1257 filas
 Hoja: GOOG — 1257 filas
 Hoja: MSFT — 1257 filas
 Hoja: AMZN — 1257 filas
 Hoja: TSLA — 1257 filas
 Hoja: NFLX — 1257 filas
 Hoja: META — 1257 filas
 Hoja: NVDA — 1257 filas
 Hoja: JPM — 1257 filas
 Hoja: V — 1257 filas

# Guardar libro a Excel

In [5]:
libro_csv.guardar_como_excel("./data/salida.xlsx")

## Cargar archivo Excel completo
Cargamos el libro de Excel y mostramos las hojas disponibles.

In [6]:
print("\n Ejemplo : Cargar Excel completo")
libro_excel = LibroPandas.desde_excel("data/datos_acciones.xlsx")
print(libro_excel)

 Ejemplo : Cargar Excel completo
 Libro: datos_acciones, hojas: ['AAPL', 'GOOG', 'MSFT', 'AMZN', 'TSLA', 'NFLX', 'META', 'NVDA', 'JPM', 'V']

##  Acceso a hoja específica
Accedemos a la hoja 'AAPL' y visualizamos sus primeras filas.

In [7]:
# Nombre del libro
#libro_excel.nombre
# Primera hoja
libro_excel.hojas["AAPL"]

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
0,2020-03-09,65.937500,69.522499,65.750000,66.542503,286744800,64.593880
1,2020-03-10,69.285004,71.610001,67.342499,71.334999,285290000,69.246025
2,2020-03-11,69.347504,70.305000,67.964996,68.857498,255598800,66.841087
3,2020-03-12,63.985001,67.500000,62.000000,62.057499,418474000,60.240208
4,2020-03-13,66.222504,69.980003,63.237499,69.492500,370732000,67.457481
...,...,...,...,...,...,...,...
1252,2025-03-03,241.789993,244.029999,236.110001,238.029999,47184000,238.029999
1253,2025-03-04,237.710007,240.070007,234.679993,235.929993,53798100,235.929993
1254,2025-03-05,235.419998,236.550003,229.229996,235.740005,47227600,235.740005
1255,2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,235.330002
1256,2025-03-07,235.110001,241.369995,234.759995,239.070007,46245700,239.070007

##  Análisis descriptivo y Visualización del Dataframe

In [8]:
# Tipos de las variables.
libro_excel.hojas["AAPL"].dtypes

Fecha            datetime64[ns]
AAPL.Open               float64
AAPL.High               float64
AAPL.Low                float64
AAPL.Close              float64
AAPL.Volume               int64
AAPL.Adjusted           float64
dtype: object

In [9]:
# Visualización de las primeras filas.
libro_excel.hojas["AAPL"].head(5)

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
0,2020-03-09,65.937500,69.522499,65.750000,66.542503,286744800,64.593880
1,2020-03-10,69.285004,71.610001,67.342499,71.334999,285290000,69.246025
2,2020-03-11,69.347504,70.305000,67.964996,68.857498,255598800,66.841087
3,2020-03-12,63.985001,67.500000,62.000000,62.057499,418474000,60.240208
4,2020-03-13,66.222504,69.980003,63.237499,69.492500,370732000,67.457481

In [10]:
# Visualización de las últimas filas.
libro_excel.hojas["AAPL"].tail(5)

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
1252,2025-03-03,241.789993,244.029999,236.110001,238.029999,47184000,238.029999
1253,2025-03-04,237.710007,240.070007,234.679993,235.929993,53798100,235.929993
1254,2025-03-05,235.419998,236.550003,229.229996,235.740005,47227600,235.740005
1255,2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,235.330002
1256,2025-03-07,235.110001,241.369995,234.759995,239.070007,46245700,239.070007

In [11]:
# Lista con los nombres de las columnas.
libro_excel.hojas["AAPL"].columns

Index(['Fecha', 'AAPL.Open', 'AAPL.High', 'AAPL.Low', 'AAPL.Close',
       'AAPL.Volume', 'AAPL.Adjusted'],
      dtype='object')

In [12]:
# Índice de la tabla.
libro_excel.hojas["AAPL"].index

RangeIndex(start=0, stop=1257, step=1)

In [13]:
# Resumen estadístico de las columnas.
libro_excel.hojas["AAPL"].describe()

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
count,1257,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000
mean,2022-09-04 07:47:23.914081024,159.582797,161.353017,157.942021,159.739196,8.671172e+07,157.886133
min,2020-03-09 00:00:00,57.020000,57.125000,53.152500,56.092499,2.323470e+07,54.449898
25%,2021-06-07 00:00:00,133.460007,134.740005,131.660004,133.410004,5.379050e+07,130.710220
50%,2022-09-02 00:00:00,157.339996,159.789993,154.699997,157.369995,7.371120e+07,155.136261
75%,2023-12-04 00:00:00,182.800003,184.660004,181.470001,182.910004,1.019880e+08,181.771713
max,2025-03-07 00:00:00,258.190002,260.100006,257.630005,259.019989,4.184740e+08,258.735504
std,NaN,41.434312,41.653439,41.249092,41.499874,5.017186e+07,42.138219

In [14]:
# Traspuesta de la tabla.
libro_excel.hojas["AAPL"].T

,0,1,2,3,4,5,6,7,8,9,...,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256
Fecha,2020-03-09 00:00:00,2020-03-10 00:00:00,2020-03-11 00:00:00,2020-03-12 00:00:00,2020-03-13 00:00:00,2020-03-16 00:00:00,2020-03-17 00:00:00,2020-03-18 00:00:00,2020-03-19 00:00:00,2020-03-20 00:00:00,...,2025-02-24 00:00:00,2025-02-25 00:00:00,2025-02-26 00:00:00,2025-02-27 00:00:00,2025-02-28 00:00:00,2025-03-03 00:00:00,2025-03-04 00:00:00,2025-03-05 00:00:00,2025-03-06 00:00:00,2025-03-07 00:00:00
AAPL.Open,65.9375,69.285004,69.347504,63.985001,66.222504,60.487499,61.877499,59.942501,61.8475,61.794998,...,244.929993,248.0,244.330002,239.410004,236.949997,241.789993,237.710007,235.419998,234.440002,235.110001
AAPL.High,69.522499,71.610001,70.305,67.5,69.980003,64.769997,64.402496,62.5,63.209999,62.9575,...,248.860001,250.0,244.979996,242.460007,242.089996,244.029999,240.070007,236.550003,237.860001,241.369995
AAPL.Low,65.75,67.342499,67.964996,62.0,63.237499,60.0,59.599998,59.279999,60.6525,57.0,...,244.419998,244.910004,239.130005,237.059998,230.199997,236.110001,234.679993,229.229996,233.160004,234.759995
AAPL.Close,66.542503,71.334999,68.857498,62.057499,69.4925,60.552502,63.215,61.6675,61.195,57.310001,...,247.100006,247.039993,240.360001,237.300003,241.839996,238.029999,235.929993,235.740005,235.330002,239.070007
AAPL.Volume,286744800,285290000,255598800,418474000,370732000,322423600,324056000,300233600,271857200,401693200,...,51326400,48013300,44433600,41153600,56833400,47184000,53798100,47227600,45170400,46245700
AAPL.Adjusted,64.59388,69.246025,66.841087,60.240208,67.457481,58.779285,61.363819,59.861633,59.402969,55.631748,...,247.100006,247.039993,240.360001,237.300003,241.839996,238.029999,235.929993,235.740005,235.330002,239.070007

## 📈 Ordenación de la tabla
Mostramos gráficas de series de tiempo u otras representaciones.

In [15]:
# Indexación por fechas
libro_excel.hojas["AAPL"].set_index("Fecha", inplace=True)

In [16]:
libro_excel.hojas["AAPL"].head(5)

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2020-03-09,65.937500,69.522499,65.750000,66.542503,286744800,64.593880
2020-03-10,69.285004,71.610001,67.342499,71.334999,285290000,69.246025
2020-03-11,69.347504,70.305000,67.964996,68.857498,255598800,66.841087
2020-03-12,63.985001,67.500000,62.000000,62.057499,418474000,60.240208
2020-03-13,66.222504,69.980003,63.237499,69.492500,370732000,67.457481

In [17]:
# Ordenar por valores (ascending=False es de mayor a menor, ascending=True es de mayor a menor )
libro_excel.hojas["AAPL"].sort_values(by="AAPL.Open",ascending=False)

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2024-12-26,258.190002,260.100006,257.630005,259.019989,27237100,258.735504
2024-12-27,257.829987,258.700012,253.059998,255.589996,42355300,255.309296
2024-12-24,255.490005,258.209991,255.289993,258.200012,23234700,257.916443
2024-12-23,254.770004,255.649994,253.449997,255.270004,40858800,254.989655
2024-12-31,252.440002,253.279999,249.429993,250.419998,39480700,250.144974
...,...,...,...,...,...,...
2020-03-16,60.487499,64.769997,60.000000,60.552502,322423600,58.779285
2020-04-02,60.084999,61.287498,59.224998,61.232498,165934000,59.439373
2020-03-18,59.942501,62.500000,59.279999,61.667500,300233600,59.861633
2020-03-24,59.090000,61.922501,58.575001,61.720001,287531200,59.912598
2020-03-23,57.020000,57.125000,53.152500,56.092499,336752800,54.449898

# Selección de filas y columnas por etiquetas

In [20]:
# Selección por nombre de columna
libro_excel.hojas["AAPL"]["AAPL.Open"]

Fecha
2020-03-09     65.937500
2020-03-10     69.285004
2020-03-11     69.347504
2020-03-12     63.985001
2020-03-13     66.222504
                 ...
2025-03-03    241.789993
2025-03-04    237.710007
2025-03-05    235.419998
2025-03-06    234.440002
2025-03-07    235.110001
Name: AAPL.Open, Length: 1257, dtype: float64

In [19]:
# Selección por índices de fila
libro_excel.hojas["AAPL"][0:3]

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2020-03-09,65.937500,69.522499,65.750000,66.542503,286744800,64.593880
2020-03-10,69.285004,71.610001,67.342499,71.334999,285290000,69.246025
2020-03-11,69.347504,70.305000,67.964996,68.857498,255598800,66.841087

In [29]:
# Selección por fechas
libro_excel.hojas["AAPL"]["2020-03-09":"2020-04-01"]

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2020-03-09,65.937500,69.522499,65.750000,66.542503,286744800,64.593880
2020-03-10,69.285004,71.610001,67.342499,71.334999,285290000,69.246025
2020-03-11,69.347504,70.305000,67.964996,68.857498,255598800,66.841087
2020-03-12,63.985001,67.500000,62.000000,62.057499,418474000,60.240208
2020-03-13,66.222504,69.980003,63.237499,69.492500,370732000,67.457481
2020-03-16,60.487499,64.769997,60.000000,60.552502,322423600,58.779285
2020-03-17,61.877499,64.402496,59.599998,63.215000,324056000,61.363819
2020-03-18,59.942501,62.500000,59.279999,61.667500,300233600,59.861633
2020-03-19,61.847500,63.209999,60.652500,61.195000,271857200,59.402969
2020-03-20,61.794998,62.957500,57.000000,57.310001,401693200,55.631748
2020-03-23,57.020000,57.125000,53.152500,56.092499,336752800,54.449898
2020-03-24,59.090000,61.922501,58.575001,61.720001,287531200,59.912598
2020-03-25,62.687500,64.562500,61.075001,61.380001,303602000,59.582558
2020-03-26,61.630001,64.669998,61.590000,64.610001,252087200,62.717976
2020-03-27,63.187500,63.967499,61.762501,61.935001,204216800,60.121304
2020-03-30,62.685001,63.880001,62.349998,63.702499,167976400,61.837044
2020-03-31,63.900002,65.622498,63.000000,63.572498,197002000,61.710850
2020-04-01,61.625000,62.180000,59.782501,60.227501,176218400,58.463810

In [ ]:
# Selección de fila mediante coincidencia de etiqueta
libro_excel.hojas["AAPL"].loc["2020-03-20"]

AAPL.Open        6.179500e+01
AAPL.High        6.295750e+01
AAPL.Low         5.700000e+01
AAPL.Close       5.731000e+01
AAPL.Volume      4.016932e+08
AAPL.Adjusted    5.563175e+01
Name: 2020-03-20 00:00:00, dtype: float64

In [ ]:
# Selección de filas con ciertas columnas
libro_excel.hojas["AAPL"].loc[:,["AAPL.Open","AAPL.Close"]]

             AAPL.Open  AAPL.Close
Fecha
2020-03-09   65.937500   66.542503
2020-03-10   69.285004   71.334999
2020-03-11   69.347504   68.857498
2020-03-12   63.985001   62.057499
2020-03-13   66.222504   69.492500
...                ...         ...
2025-03-03  241.789993  238.029999
2025-03-04  237.710007  235.929993
2025-03-05  235.419998  235.740005
2025-03-06  234.440002  235.330002
2025-03-07  235.110001  239.070007

[1257 rows x 2 columns]

In [ ]:
# Selección de filas mediante coincidencia de etiqueta
libro_excel.hojas["AAPL"].loc["2020-03-09":"2020-03-20",["AAPL.Open","AAPL.Close"]]

            AAPL.Open  AAPL.Close
Fecha
2020-03-09  65.937500   66.542503
2020-03-10  69.285004   71.334999
2020-03-11  69.347504   68.857498
2020-03-12  63.985001   62.057499
2020-03-13  66.222504   69.492500
2020-03-16  60.487499   60.552502
2020-03-17  61.877499   63.215000
2020-03-18  59.942501   61.667500
2020-03-19  61.847500   61.195000
2020-03-20  61.794998   57.310001

In [ ]:
# Selección de una fila y una columna
libro_excel.hojas["AAPL"].loc["2020-03-09", "AAPL.Open"]

np.float64(65.9375)

In [ ]:
# Selección de una fila y una columna usando at
libro_excel.hojas["AAPL"].at["2020-03-09", "AAPL.Open"]

np.float64(65.9375)

# Selección de filas y columnas por posición

In [ ]:
# Selección de la fila 4 (recuerda que se cuenta desde cero)
libro_excel.hojas["AAPL"].iloc[3]

AAPL.Open        6.398500e+01
AAPL.High        6.750000e+01
AAPL.Low         6.200000e+01
AAPL.Close       6.205750e+01
AAPL.Volume      4.184740e+08
AAPL.Adjusted    6.024021e+01
Name: 2020-03-12 00:00:00, dtype: float64

In [ ]:
# Selección de la filas 3 a la 4 y las columnas 0 a la 1.
libro_excel.hojas["AAPL"].iloc[3:5,0:2]

            AAPL.Open  AAPL.High
Fecha
2020-03-12  63.985001  67.500000
2020-03-13  66.222504  69.980003

In [43]:
# Selección de filas y columnas por listas de enteros
libro_excel.hojas["AAPL"].iloc[[3, 4], [0, 1]]

            AAPL.Open  AAPL.High
Fecha
2020-03-12  63.985001  67.500000
2020-03-13  66.222504  69.980003

In [ ]:
# Selección  de filas 1 y 2 con todas las columnas
libro_excel.hojas["AAPL"].iloc[1:3, :]

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2020-03-10,69.285004,71.610001,67.342499,71.334999,285290000,69.246025
2020-03-11,69.347504,70.305000,67.964996,68.857498,255598800,66.841087

In [ ]:
# Selección  de todas las filas y las columnas 1 y 2
libro_excel.hojas["AAPL"].iloc[:, 1:3]

             AAPL.High    AAPL.Low
Fecha
2020-03-09   69.522499   65.750000
2020-03-10   71.610001   67.342499
2020-03-11   70.305000   67.964996
2020-03-12   67.500000   62.000000
2020-03-13   69.980003   63.237499
...                ...         ...
2025-03-03  244.029999  236.110001
2025-03-04  240.070007  234.679993
2025-03-05  236.550003  229.229996
2025-03-06  237.860001  233.160004
2025-03-07  241.369995  234.759995

[1257 rows x 2 columns]

In [46]:
# Selección  de una fila y columna específica
libro_excel.hojas["AAPL"].iloc[1, 1]

np.float64(71.6100006103516)

In [47]:
# Selección  de una fila y columna específica iat
libro_excel.hojas["AAPL"].iat[1, 1]

np.float64(71.6100006103516)

# Selección por Indexación Booleana

In [ ]:
# Selección de filas donde AAPL.Open es mayor a 200
libro_excel.hojas["AAPL"][libro_excel.hojas["AAPL"]["AAPL.Open"] > 200]

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2024-06-12,207.369995,220.199997,206.899994,213.070007,198134300,212.356308
2024-06-13,214.740005,216.750000,211.600006,214.240005,97862700,213.522369
2024-06-14,213.850006,215.169998,211.300003,212.490005,70122700,211.778229
2024-06-17,213.369995,218.949997,212.720001,216.669998,93728300,215.944229
2024-06-18,217.589996,218.630005,213.000000,214.289993,79943300,213.572189
...,...,...,...,...,...,...
2025-03-03,241.789993,244.029999,236.110001,238.029999,47184000,238.029999
2025-03-04,237.710007,240.070007,234.679993,235.929993,53798100,235.929993
2025-03-05,235.419998,236.550003,229.229996,235.740005,47227600,235.740005
2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,235.330002
2025-03-07,235.110001,241.369995,234.759995,239.070007,46245700,239.070007

In [49]:
# Selección de filas donde sus valores son mayores a 200
libro_excel.hojas["AAPL"][libro_excel.hojas["AAPL"] > 200]

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2020-03-09,NaN,NaN,NaN,NaN,286744800,NaN
2020-03-10,NaN,NaN,NaN,NaN,285290000,NaN
2020-03-11,NaN,NaN,NaN,NaN,255598800,NaN
2020-03-12,NaN,NaN,NaN,NaN,418474000,NaN
2020-03-13,NaN,NaN,NaN,NaN,370732000,NaN
...,...,...,...,...,...,...
2025-03-03,241.789993,244.029999,236.110001,238.029999,47184000,238.029999
2025-03-04,237.710007,240.070007,234.679993,235.929993,53798100,235.929993
2025-03-05,235.419998,236.550003,229.229996,235.740005,47227600,235.740005
2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,235.330002
2025-03-07,235.110001,241.369995,234.759995,239.070007,46245700,239.070007

In [54]:
# Imputación de valores NA
df_200 = libro_excel.hojas["AAPL"][libro_excel.hojas["AAPL"] > 200]
df_200.head(5)

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2020-03-09,NaN,NaN,NaN,NaN,286744800,NaN
2020-03-10,NaN,NaN,NaN,NaN,285290000,NaN
2020-03-11,NaN,NaN,NaN,NaN,255598800,NaN
2020-03-12,NaN,NaN,NaN,NaN,418474000,NaN
2020-03-13,NaN,NaN,NaN,NaN,370732000,NaN

In [55]:
# Eliminación de valores NA
df_200.dropna(how="any")

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2024-06-12,207.369995,220.199997,206.899994,213.070007,198134300,212.356308
2024-06-13,214.740005,216.750000,211.600006,214.240005,97862700,213.522369
2024-06-14,213.850006,215.169998,211.300003,212.490005,70122700,211.778229
2024-06-17,213.369995,218.949997,212.720001,216.669998,93728300,215.944229
2024-06-18,217.589996,218.630005,213.000000,214.289993,79943300,213.572189
...,...,...,...,...,...,...
2025-03-03,241.789993,244.029999,236.110001,238.029999,47184000,238.029999
2025-03-04,237.710007,240.070007,234.679993,235.929993,53798100,235.929993
2025-03-05,235.419998,236.550003,229.229996,235.740005,47227600,235.740005
2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,235.330002
2025-03-07,235.110001,241.369995,234.759995,239.070007,46245700,239.070007

In [59]:
# Imputación de valores faltantes
df_200.fillna(value=0)

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2020-03-09,0.000000,0.000000,0.000000,0.000000,286744800,0.000000
2020-03-10,0.000000,0.000000,0.000000,0.000000,285290000,0.000000
2020-03-11,0.000000,0.000000,0.000000,0.000000,255598800,0.000000
2020-03-12,0.000000,0.000000,0.000000,0.000000,418474000,0.000000
2020-03-13,0.000000,0.000000,0.000000,0.000000,370732000,0.000000
...,...,...,...,...,...,...
2025-03-03,241.789993,244.029999,236.110001,238.029999,47184000,238.029999
2025-03-04,237.710007,240.070007,234.679993,235.929993,53798100,235.929993
2025-03-05,235.419998,236.550003,229.229996,235.740005,47227600,235.740005
2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,235.330002
2025-03-07,235.110001,241.369995,234.759995,239.070007,46245700,239.070007

In [61]:
# Máscara booleana donde los valores son NA
df_200.isna()

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2020-03-09,True,True,True,True,False,True
2020-03-10,True,True,True,True,False,True
2020-03-11,True,True,True,True,False,True
2020-03-12,True,True,True,True,False,True
2020-03-13,True,True,True,True,False,True
...,...,...,...,...,...,...
2025-03-03,False,False,False,False,False,False
2025-03-04,False,False,False,False,False,False
2025-03-05,False,False,False,False,False,False
2025-03-06,False,False,False,False,False,False
2025-03-07,False,False,False,False,False,False