# 📘 Análisis de datos Excel con clases personalizadas
Este notebook muestra cómo utilizar clases como `LibroPandas` y `HojaPandas` para cargar, explorar y analizar datos de archivos Excel de forma orientada a objetos usando pandas.

## 📦 Importación de librerías

In [2]:
from excel_pandas.libro import LibroPandas
from excel_pandas.hoja import HojaPandas
import pandas as pd

## 📁 Ejemplo 1: Cargar archivo Excel completo
Cargamos el libro de Excel y mostramos las hojas disponibles.

In [3]:
print("\n Ejemplo 1: Cargar Excel completo")
libro_excel = LibroPandas.desde_excel("data/datos_acciones.xlsx")
print(libro_excel)

 Ejemplo 1: Cargar Excel completo
 Libro: datos_acciones, hojas: ['AAPL', 'GOOG', 'MSFT', 'AMZN', 'TSLA', 'NFLX', 'META', 'NVDA', 'JPM', 'V']

## 📄 Acceso a hoja específica
Accedemos a la hoja 'AAPL' y visualizamos sus primeras filas.

In [4]:
# Nombre del libro
#libro_excel.nombre
# Primera hoja
libro_excel.hojas["AAPL"]

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
0,2020-03-09,65.937500,69.522499,65.750000,66.542503,286744800,64.593880
1,2020-03-10,69.285004,71.610001,67.342499,71.334999,285290000,69.246025
2,2020-03-11,69.347504,70.305000,67.964996,68.857498,255598800,66.841087
3,2020-03-12,63.985001,67.500000,62.000000,62.057499,418474000,60.240208
4,2020-03-13,66.222504,69.980003,63.237499,69.492500,370732000,67.457481
...,...,...,...,...,...,...,...
1252,2025-03-03,241.789993,244.029999,236.110001,238.029999,47184000,238.029999
1253,2025-03-04,237.710007,240.070007,234.679993,235.929993,53798100,235.929993
1254,2025-03-05,235.419998,236.550003,229.229996,235.740005,47227600,235.740005
1255,2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,235.330002
1256,2025-03-07,235.110001,241.369995,234.759995,239.070007,46245700,239.070007

## 🔍 Análisis descriptivo
Exploramos estadísticas básicas o columnas específicas.

In [4]:
libro_excel.hojas["AAPL"].head(5)
libro_excel.hojas["AAPL"].tail(5)

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
1252,2025-03-03,241.789993,244.029999,236.110001,238.029999,47184000,238.029999
1253,2025-03-04,237.710007,240.070007,234.679993,235.929993,53798100,235.929993
1254,2025-03-05,235.419998,236.550003,229.229996,235.740005,47227600,235.740005
1255,2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,235.330002
1256,2025-03-07,235.110001,241.369995,234.759995,239.070007,46245700,239.070007

In [5]:
libro_excel.hojas["AAPL"].columns
libro_excel.hojas["AAPL"].index

RangeIndex(start=0, stop=1257, step=1)

## 📈 Visualización
Mostramos gráficas de series de tiempo u otras representaciones.

In [6]:
libro_excel.hojas["AAPL"].dtypes

Fecha            datetime64[ns]
AAPL.Open               float64
AAPL.High               float64
AAPL.Low                float64
AAPL.Close              float64
AAPL.Volume               int64
AAPL.Adjusted           float64
dtype: object

In [12]:
libro_excel.hojas["AAPL"].describe()

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
count,1257,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000
mean,2022-09-04 07:47:23.914081024,159.582797,161.353017,157.942021,159.739196,8.671172e+07,157.886133
min,2020-03-09 00:00:00,57.020000,57.125000,53.152500,56.092499,2.323470e+07,54.449898
25%,2021-06-07 00:00:00,133.460007,134.740005,131.660004,133.410004,5.379050e+07,130.710220
50%,2022-09-02 00:00:00,157.339996,159.789993,154.699997,157.369995,7.371120e+07,155.136261
75%,2023-12-04 00:00:00,182.800003,184.660004,181.470001,182.910004,1.019880e+08,181.771713
max,2025-03-07 00:00:00,258.190002,260.100006,257.630005,259.019989,4.184740e+08,258.735504
std,NaN,41.434312,41.653439,41.249092,41.499874,5.017186e+07,42.138219

In [7]:
libro_excel.hojas["AAPL"].T

,0,1,2,3,4,5,6,7,8,9,...,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256
Fecha,2020-03-09 00:00:00,2020-03-10 00:00:00,2020-03-11 00:00:00,2020-03-12 00:00:00,2020-03-13 00:00:00,2020-03-16 00:00:00,2020-03-17 00:00:00,2020-03-18 00:00:00,2020-03-19 00:00:00,2020-03-20 00:00:00,...,2025-02-24 00:00:00,2025-02-25 00:00:00,2025-02-26 00:00:00,2025-02-27 00:00:00,2025-02-28 00:00:00,2025-03-03 00:00:00,2025-03-04 00:00:00,2025-03-05 00:00:00,2025-03-06 00:00:00,2025-03-07 00:00:00
AAPL.Open,65.9375,69.285004,69.347504,63.985001,66.222504,60.487499,61.877499,59.942501,61.8475,61.794998,...,244.929993,248.0,244.330002,239.410004,236.949997,241.789993,237.710007,235.419998,234.440002,235.110001
AAPL.High,69.522499,71.610001,70.305,67.5,69.980003,64.769997,64.402496,62.5,63.209999,62.9575,...,248.860001,250.0,244.979996,242.460007,242.089996,244.029999,240.070007,236.550003,237.860001,241.369995
AAPL.Low,65.75,67.342499,67.964996,62.0,63.237499,60.0,59.599998,59.279999,60.6525,57.0,...,244.419998,244.910004,239.130005,237.059998,230.199997,236.110001,234.679993,229.229996,233.160004,234.759995
AAPL.Close,66.542503,71.334999,68.857498,62.057499,69.4925,60.552502,63.215,61.6675,61.195,57.310001,...,247.100006,247.039993,240.360001,237.300003,241.839996,238.029999,235.929993,235.740005,235.330002,239.070007
AAPL.Volume,286744800,285290000,255598800,418474000,370732000,322423600,324056000,300233600,271857200,401693200,...,51326400,48013300,44433600,41153600,56833400,47184000,53798100,47227600,45170400,46245700
AAPL.Adjusted,64.59388,69.246025,66.841087,60.240208,67.457481,58.779285,61.363819,59.861633,59.402969,55.631748,...,247.100006,247.039993,240.360001,237.300003,241.839996,238.029999,235.929993,235.740005,235.330002,239.070007

In [8]:
libro_excel.hojas["AAPL"].sort_values(by="AAPL.Open")

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
10,2020-03-23,57.020000,57.125000,53.152500,56.092499,336752800,54.449898
11,2020-03-24,59.090000,61.922501,58.575001,61.720001,287531200,59.912598
7,2020-03-18,59.942501,62.500000,59.279999,61.667500,300233600,59.861633
18,2020-04-02,60.084999,61.287498,59.224998,61.232498,165934000,59.439373
5,2020-03-16,60.487499,64.769997,60.000000,60.552502,322423600,58.779285
...,...,...,...,...,...,...,...
1212,2024-12-31,252.440002,253.279999,249.429993,250.419998,39480700,250.144974
1207,2024-12-23,254.770004,255.649994,253.449997,255.270004,40858800,254.989655
1208,2024-12-24,255.490005,258.209991,255.289993,258.200012,23234700,257.916443
1210,2024-12-27,257.829987,258.700012,253.059998,255.589996,42355300,255.309296
1209,2024-12-26,258.190002,260.100006,257.630005,259.019989,27237100,258.735504

In [9]:
libro_excel.hojas["AAPL"]["AAPL.Open"]

0        65.937500
1        69.285004
2        69.347504
3        63.985001
4        66.222504
           ...
1252    241.789993
1253    237.710007
1254    235.419998
1255    234.440002
1256    235.110001
Name: AAPL.Open, Length: 1257, dtype: float64

In [10]:
libro_excel.hojas["AAPL"][0:3]

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
0,2020-03-09,65.937500,69.522499,65.750000,66.542503,286744800,64.593880
1,2020-03-10,69.285004,71.610001,67.342499,71.334999,285290000,69.246025
2,2020-03-11,69.347504,70.305000,67.964996,68.857498,255598800,66.841087

In [11]:
libro_excel.hojas["AAPL"].loc[0:3]

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
0,2020-03-09,65.937500,69.522499,65.750000,66.542503,286744800,64.593880
1,2020-03-10,69.285004,71.610001,67.342499,71.334999,285290000,69.246025
2,2020-03-11,69.347504,70.305000,67.964996,68.857498,255598800,66.841087
3,2020-03-12,63.985001,67.500000,62.000000,62.057499,418474000,60.240208

In [12]:
libro_excel.hojas["AAPL"].loc[:, ["Fecha", "AAPL.Open"]]

          Fecha   AAPL.Open
0    2020-03-09   65.937500
1    2020-03-10   69.285004
2    2020-03-11   69.347504
3    2020-03-12   63.985001
4    2020-03-13   66.222504
...         ...         ...
1252 2025-03-03  241.789993
1253 2025-03-04  237.710007
1254 2025-03-05  235.419998
1255 2025-03-06  234.440002
1256 2025-03-07  235.110001

[1257 rows x 2 columns]

In [13]:
libro_excel.hojas["AAPL"].iloc[:, 1:3]

       AAPL.Open   AAPL.High
0      65.937500   69.522499
1      69.285004   71.610001
2      69.347504   70.305000
3      63.985001   67.500000
4      66.222504   69.980003
...          ...         ...
1252  241.789993  244.029999
1253  237.710007  240.070007
1254  235.419998  236.550003
1255  234.440002  237.860001
1256  235.110001  241.369995

[1257 rows x 2 columns]

In [14]:
# Indexación Booleana
libro_excel.hojas["AAPL"][libro_excel.hojas["AAPL"]["AAPL.Close"] > 200]

,Fecha,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
1072,2024-06-11,193.649994,207.160004,193.630005,207.149994,172373300,206.456116
1073,2024-06-12,207.369995,220.199997,206.899994,213.070007,198134300,212.356308
1074,2024-06-13,214.740005,216.750000,211.600006,214.240005,97862700,213.522369
1075,2024-06-14,213.850006,215.169998,211.300003,212.490005,70122700,211.778229
1076,2024-06-17,213.369995,218.949997,212.720001,216.669998,93728300,215.944229
...,...,...,...,...,...,...,...
1252,2025-03-03,241.789993,244.029999,236.110001,238.029999,47184000,238.029999
1253,2025-03-04,237.710007,240.070007,234.679993,235.929993,53798100,235.929993
1254,2025-03-05,235.419998,236.550003,229.229996,235.740005,47227600,235.740005
1255,2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,235.330002
1256,2025-03-07,235.110001,241.369995,234.759995,239.070007,46245700,239.070007

In [20]:
df2 = libro_excel.hojas["AAPL"].copy()
df2["Fecha"] = pd.to_datetime(df2["Fecha"])

In [21]:
df2.set_index("Fecha", inplace=True)

In [23]:
df2.at["2020-04-01", "AAPL.Open"]

np.float64(61.625)

In [25]:
df2.loc["2020-03-09":"2020-03-13", "AAPL.Open"]

Fecha
2020-03-09    65.937500
2020-03-10    69.285004
2020-03-11    69.347504
2020-03-12    63.985001
2020-03-13    66.222504
Name: AAPL.Open, dtype: float64

In [28]:
df2[df2["AAPL.Open"].isin(["2020-03-09", "2020-03-18"])]

Empty HojaPandas
Columns: [AAPL.Open, AAPL.High, AAPL.Low, AAPL.Close, AAPL.Volume, AAPL.Adjusted]
Index: []

In [31]:
df2.isna()

,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted
Fecha,,,,,,
2020-03-09,False,False,False,False,False,False
2020-03-10,False,False,False,False,False,False
2020-03-11,False,False,False,False,False,False
2020-03-12,False,False,False,False,False,False
2020-03-13,False,False,False,False,False,False
...,...,...,...,...,...,...
2025-03-03,False,False,False,False,False,False
2025-03-04,False,False,False,False,False,False
2025-03-05,False,False,False,False,False,False
2025-03-06,False,False,False,False,False,False
2025-03-07,False,False,False,False,False,False

In [7]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Crear 1000 timestamps con un paso de 1 minuto
base_time = datetime(2024, 1, 1, 12, 0, 0)
tiempos = [base_time + timedelta(seconds=i * 60) for i in range(1000)]  # 1000 filas

# Sensor Ground Truth
ground_data = pd.DataFrame({
    'timestamp': tiempos,
    'temperatura': np.random.normal(loc=25, scale=0.5, size=1000),
    'humedad': np.random.normal(loc=60, scale=2, size=1000)
})

# Sensor Under Test (ligeramente desfasado)
#tiempos_desfasados = [t + timedelta(seconds=np.random.randint(-5, 5)) for t in tiempos]
test_data = pd.DataFrame({
    'timestamp': tiempos,#_desfasados,
    'temperatura': ground_data['temperatura'] + np.random.normal(loc=0, scale=0.3, size=1000),
    'humedad': ground_data['humedad'] + np.random.normal(loc=0, scale=1, size=1000)
})

# Guardar ambos archivos
ground_path = "data/sensor_ground.xlsx"
test_path = "data/sensor_under_test_df.xlsx"

ground_data.to_excel(ground_path, index=False)
test_data.to_excel(test_path, index=False)

ground_path, test_path

('data/sensor_ground.xlsx', 'data/sensor_under_test_df.xlsx')

## ✅ Conclusiones
Este enfoque permite manipular archivos Excel de forma modular y limpia. Puedes extenderlo para aplicar filtros, generar gráficos interactivos o exportar resultados.